/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* NAV BAR
/*******************************************/
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}
nav img {
  width: 100px;
}
nav ul {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

/******************************************
/* MAIN SECTION
/*******************************************/
.section {
  padding: 20px 70px;
  width: 700px;
}
.social {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
main::before {
  content: "";
  height: 500px;
  background-image: url('../assets/fruittopphoto.png');
  background-size: 100%;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
/* }
main *, .top form {
  transform: scaleX(-1);
} */
/******************************************
/* FONT SIZES & STYLES
/*******************************************/
html {
  font-size: 62.5%;
}
body{
  font-size: 1.5rem;
}
h1 {
  font-size: 4.5rem;
}
li {
  list-style: none;
  
}
a {
  text-decoration: none;
  color: darkgrey;
}
